{% extends 'base.html' %}

{% block content %}
    <h1>Post List</h1>

    <button><a href="{% url 'posts:post_create' %}">Create</a></button>

    <ul>
        {% for post in page_obj.object_list %}
            <li>
                <input type="checkbox" name="remember_me" id="remember_me"><a href="{% url 'posts:post_detail' post.id %}">{{ post.title }}</a>
                <p>writer: {{ post.author.username }} | Date: {{ post.created_at }}</p>
                <button><a href="{% url 'posts:post_update' post.id %}">Edit</a></button>
                <button><a href="{% url 'posts:post_delete' post.id %}">Delete</a></button>
            </li>
        {% endfor %}
    </ul>

    <div>
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; 첫 페이지</a>
            <button><a href="?page={{ page_obj.previous_page_number }}">List</a></button>
        {% endif %}
        
        <span>페이지 {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
        
        {% if page_obj.has_next %}
        <button><a href="?page={{ page_obj.next_page_number }}">Next</a></button>
            <a href="?page={{ page_obj.paginator.num_pages }}">마지막 페이지 &raquo;</a>
        {% endif %}
    </div>
{% endblock %}
