{% extends 'base.html' %}

{% block content %}
    <h1>Post List</h1>

   

    <ul>
        {% for post in page_obj.object_list %}
            
                <input type="checkbox" name="selected_posts" value="{{ post.id }}" id="post_{{ post.id }}"><a href="{% url 'posts:post_detail' post.id %}">{{ post.title }}</a>
                <p>writer: {{ post.author.username }} | Date: {{ post.created_at }}</p>
            
        {% endfor %}
    </ul>


    <button><a href="{% url 'posts:post_create' %}">Create</a></button>

    {% if page_obj.object_list %}
        {% if user == page_obj.object_list.0.author %}
            <button><a href="{% url 'posts:post_update' page_obj.object_list.0.id %}">Edit</a></button>
            <form action="{% url 'posts:post_delete' page_obj.object_list.0.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Delete</button>
                {% if user.is_authenticated %}
    <a href="{% url 'users:logout' %}" class="btn btn-danger">Logout</a>
{% else %}
    <a href="{% url 'users:login' %}">Login</a>
{% endif %}

            </form>
        {% endif %}
    {% endif %}

  
    <div>
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; 첫 페이지</a>
            <button><a href="?page={{ page_obj.previous_page_number }}">List</a></button>
        {% endif %}
        
        <span>페이지 {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
        
        {% if page_obj.has_next %}
            <button><a href="?page={{ page_obj.next_page_number }}">Next</a></button>
            <a href="?page={{ page_obj.paginator.num_pages }}">마지막 페이지 &raquo;</a>
            
        {% endif %}
    </div>
{% endblock %}