{% extends 'base.html' %}

{% block content %}
    <h1>Post List</h1>

    <a href="{% url 'posts:post_create' %}">Create</a>

    <ul>
        {% for post in page_obj.object_list %}
            <li>
                <a href="{% url 'posts:post_detail' post.id %}">{{ post.title }}</a>
                <p>{{ post.content|slice:":100" }}...</p>
                <p>writer: {{ post.author.username }} | Date: {{ post.created_at }}</p>
                <a href="{% url 'posts:post_update' post.id %}">Edit</a>
                <a href="{% url 'posts:post_delete' post.id %}">Delete</a> <!-- 삭제 버튼 -->
            </li>
        {% endfor %}
    </ul>

    <div>
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; 첫 페이지</a>
            <a href="?page={{ page_obj.previous_page_number }}">이전</a>
        {% endif %}
        
        <span>페이지 {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
        
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">다음</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">마지막 페이지 &raquo;</a>
        {% endif %}
    </div>
{% endblock %}
