{% extends 'base.html' %}

{% block content %}
    
    <p>작성자: {{ post.author.username }} | 날짜: {{ post.created_at }}</p> 
    
    
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    
    {% for comment in post.comments.all %}
    <div>{{ comment.author }}: {{ comment.content }} ({{ comment.created_at }})</div>
    {% endfor %}
    
    
    <p>{{ post.likes.count }} likes</p>

    {% if request.user in post.likes.all %}
<button><a href="{% url 'posts:post_like_toggle' post.id %}">Unlike</a></button>
{% else %}
<button><a href="{% url 'posts:post_like_toggle' post.id %}">Like</a></button>

{% endif %}
    <form method="POST" action="{% url 'posts:create_comment' post.id %}">
        {% csrf_token %}
        



        <textarea name="content"></textarea>
        <button type="submit">댓글 작성</button>
    </form>


<button><a href="{% url 'posts:post_list' %}">이전</a></button><button><a href="{% url 'posts:comment_list' pk=post.pk %}">댓글 보기</a></button>
    
{% endblock %}
