{% extends 'base.html' %}

{% block content %}

    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button><a href="{% url 'users:user_profile' %}">Login</a></button> <button><a href="{% url 'users:signup' %}">SignUp</a></button>
        <label for="remember_me">Stay Login</label> <input type="checkbox" name="remember_me" id="remember_me">
    </form>

    {% endblock %}
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    {% if form.errors %}
        <div class="errors">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <button type="submit">로그인</button>
</form>
